*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.logo img{
    margin: 20px;
}
.nav-list{ 
    font-family: sans-serif ;
    justify-content: end;
    display: flex;
}
.nav-list li{
    list-style: none;
}
.nav-list li a{
    font-size: 20px;
    margin-left: 25px;
    padding: 3px;
    border-radius: 10px;
    border: 2px solid rgb(146, 152, 136);
    text-decoration: none;
    color:#004A98;
}

.nav-list li a:hover{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.nav-list2{ 
    justify-content: flex-end;
    font-family: sans-serif ;
    margin-top: 10px;
    display: flex;
    font-size: 25px;
}
.nav-list2 li{ 
    list-style: none;
    margin-left: 20px;
}
.nav-list2 li a{
    text-decoration: none;
    color: #004A98;
}

.nav-list2 li a:hover{
    color: #773DBD;
}


#Search{
    font-family: sans-serif ;
    padding: 5px;
    border-radius: 8px;
    font-size: 10px;
    border: 2px solid rgb(146, 152, 136);
}
.text1{
    font-family: sans-serif ;
    margin-top: 10px;
    padding: 15px;
    color: #FFFFFF;
    font-size: 20px;
    background-color: #004A98;
}
.text1 p{
    text-align: center;
}
.text1 a{
    color: #FF9E18;
}
.text1 a:hover{
    color: #88d7e3;
}
.hero-top img{
    position: absolute;
    height: 100px;
    width: 700px;
   padding-left: 400px;
}
.firstimg{
    display: flex;
}
.hero-top{
    list-style: none;
}
.text{
    margin-top: 90px;
    font-family: sans-serif ;
    list-style: none;
}
.more{
    font-family: sans-serif ;
    width: 125px;
    height: 30px;
    font-size: 20px;
    margin-top: 30px;
    padding: 5px;
    border: 2px ;
    background: #00BBB4;
 }
 .Contact{
    background-color: #e8ebe3;
 }
 .text-center{
    text-align: center;
    padding: 20px;
    font-family: sans-serif ;
    font-size: xx-large;
 }
 .form{
    max-width: 400px;
    margin: auto;
 }
 .form-input{
    width: 100%;
    font-size: 15px;
    border: 2px solid gray;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
 }
 .btn-dark{
    color: black;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 2px;
    align-items: center;
    margin-top: 20px;
 }
 .text-footer{
    text-align: center;
    font-family: sans-serif ;
    font-size: large;
} /* 
 .burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5px;
    top: 20px;
 }
 .line{
    background-color: rgb(0, 0, 0);
    width: 33px;
    height: 5px;
    margin: 4px;
 }
@media only screen and (max-width:990px){
    .nav-list{
        flex-direction: column;
        position: absolute;
    }
    .nav-list2{
        flex-direction: column;
        position: absolute;
    }
    #search{
        width: 100%;
    }
    .burger{
        display: block;
    }
    .h-nav-resp{
        height: px;
    }
    .hero-top{
        position: relative;
        left: -430px;
    }
    .firstimg{
        display: block;
    }
    .v-class-resp{
        opacity: 0;
    }
} */